<header class="header">
    <nav class="header__nav">
        <ul class="header ul">
            <li class="header __item"><a href="" class="header__link">Link-1</a></li>
            <li class="header __item"><a href="" class="header__link">Link-2</a></li>
            <li class="header __item"><a href="" class="header__link">Link-3</a></li>
            <li class="header __item"><a href="" class="header__link">Link-4</a></li>
            <li class="header __item"><a href="" class="header__link">Link-5</a></li>
        </ul>
    </nav>
</header>